<div id="app" />
<%!-- <meta name="currentUserId" content={@current_scope.user.id} /> --%>
<meta name="currentUserId" content="placeholder-user-id" />
<script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
</script>
